@charset "UTF-8";

/*life content box*/
.life-card-item{
	height:450px;
}
.life-card .card-img-holder {
    height: 200px;
    overflow: hidden;
    vertical-align: middle;
}
.life-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
    position: relative;
    height: auto;
    width: 250px;
}
.life-card-item{
	display:inline-block;
}