@charset "UTF-8";

/*project content box*/
.project-card .card-img-holder {
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.project-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
    position: relative;
    height: 100%;
}
.project-card-content{
	height:100%;
}
.project-detail-contents-title:hover{
	color:#666f77
}
.project-detail-contents-title{
	margin-bottom:50px;
}