@charset "UTF-8";

@media (min-width: 1200px) {
	.profile-img{
		max-width:400px;
	}
}
@media (max-width: 991.98px) {
	
	.menu-wrapper {
		position: static;
		width: inherit;
		height: auto;

	}
    .main-wrapper {
	    margin-left: 0;
    }
	.menu-wrapper .navbar {
	    padding: 1rem;
    }
    .link-mask{
    	display:none;
    }
}

@media (max-width: 767.98px) {
	#navigation .navbar-nav{
		padding-left:30px;
	}
	.header-motto{
		font-size:2rem;
	}
	.header-introduce{
		padding-left:0rem;
	}
	.header-btn-container{
		.btn + .btn{
			margin-top:10px;
		}
	}
	.header-profile-img-wrapper{
		margin-bottom:20px;
		float:none;
	}
	
	.main-wrapper .main{
		padding:1.5rem;
	}
	.skills-card-summary{
		overflow:scroll;
	}
	.life-card{
		overflow:scroll;
		width:150px;
	}
	.card-title{
		height:50px;
		overflow:scroll;
	}
	.card-summary{
		height:70px;
		overflow:scroll;
	}
	.footer-wrap{
		display:flex;
		flex-direction:column;
	}
	.footer-item{
		text-align:center !important;
	}
	.footer-item + .footer-item{
		margin-top:10px;
	}
}