@charset "UTF-8";
@font-face {
  font-family: ubuntu-title;
  src: url('/resources/fonts/Ubuntu-Title.ttf');
}
@font-face {
	font-family : ubuntu-Bold;
	src:url('/resources/fonts/Ubuntu-Bold.ttf');
}
@font-face {
	font-family : ubuntu-regular;
	src:url('/resources/fonts/Ubuntu-Regular.ttf');
}
@font-face {
	font-family : nunito;
	src:url('/resources/fonts/Nunito-VariableFont_wght.ttf');
}

.menu-a{
  font-family : ubuntu-regular;
  font-size : 25px;
  color : #ffffff;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
}
.menu-a:hover{
	text-decoration:none;
	color : #151d23;
}
.side-container{
	padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: 260px;
    z-index: 99;
    background-color:#3b444b;
}
.profile-img-container {
    width: 150px;
    height: 150px;
    display: table-cell;
    overflow: hidden;
    border-radius: 70%;
    vertical-align: middle;
    float:right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
    margin: auto;
    
}

.resume-profile-img-container{
	width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 70%;
    vertical-align: middle;
    float:left;
    right: 100px;
    margin: auto;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.resume-profile-img {
    width: 100%;
    position: relative;
    object-fit: cover;
    display: block;
}
.menu-profile-img-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 70%;
    vertical-align: middle;
    margin: auto;
    transition:transform 0.5s ease-in-out;
    transform:translate(0, 0px);
}
.menu-profile-img-container:hover{
	transform:translate(0, -30px);
}
.menu-profile-label-container{
	text-align:center;
	opacity: 0;
	font-size: 1.5rem;
    font-family: ubuntu-Bold;
	transition:opacity 1s ease-in-out;
}
.menu-profile-label{
	color:#ffffff;
}
.menu-img-wrapper{
	margin-top:80px;
	margin-bottom:20px;
}
.menu-container .menu-list .menu-item{
	margin-top:25px;
}
.menu-container{
	align-items: center;
    display: flex;
    flex-direction: column;
	z-index: 1;
}
.menu-container .menu-list{
	list-style:none;
	padding-left:0px;
	display: flex;
    flex-direction: column;
}
.menu-txt{
	display: inline-block;
}
.img-container{
	z-index: -1;
	top: 300px;
	position:absolute;
}
.img-container .menu-bottom-img{
	width:260px;
	height:400px;
	z-index:-1;
}
.img-container .menu-bottom-img-gradient{
	width:260px;
	height:400px;
	position:absolute;
	background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 0.25) 25%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.25) 75%,
            rgba(0, 0, 0, 1) 100%
          );
    background-size: cover;
	z-index:1;
}
.manage-container{
	width:100%;
}
.main-wrapper .main{
    padding: 3rem;
}

.top-bar-wrapper{
    height: 100%;
    top: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
    z-index: 50;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
    background-color: #F8F8F8;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding:10px;
}
.main-wrapper{
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
	margin-left: 260px;
	
	}
.footer{
    bottom: 0;
    padding: 0 1rem;
    height: 5rem;
    font-size: 0.8rem;
    color: #7a7b7d;
    background-color: #ffffff;
    position: absolute;
}
.profile_area{
    
}

.header-word{
	position:relative;
	left:50px;
}
.header-motto{
	font-size:3rem;
	font-family : ubuntu-Bold;
	width:400px;
}
.header-motto:hover{
	color:#666f77;	
}
.header-introduce{
	font-family : nunito;
	white-space:pre;
	text-align:left;
	margin-top:-20px;
}
.home-btn-area{
	margin-left:30px;
}
.home-btn-area .btn{
	font-size:1rem;
	margin-right:10px;
}
.title-wrapper{
	margin-top:100px;
	margin-bottom: 100px;
	text-align:center;
}
.title-wrapper:hover{
	color:#666f77
}
.title-area{
	margin-top:100px;
	margin-bottom: 70px;
}
.skills-area{
	margin-bottom: 70px;
}
.skill-icon{
	width:80px;
}
.title-area:hover{
	color:#666f77
}
.content-wrapper{
	margin-bottom:50px;
}
.resume-wrapper{
	border: 1px solid rgba(0,0,0,0.025);
	box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
	max-width:1140px;
	padding:3rem;
}
.project-card .card-img-holder {
    height: 200px;
    overflow: hidden;
    vertical-align: middle;
}
.skills-card-img-holder{
	height:80px;
	width:100%;
    line-height:80px;
    vertical-align: middle;
}
.project-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
    position: relative;
    height: 100%;
}
.card-item{
	float: none; margin:0 auto;
	display:inline-block;
}
.skills-card-item{
	float: none;
	display:inline-block;
	padding:0 1rem;
}
.card-wrapper{
	width:100%;
	text-align:center;
}
.study-card .card-img-holder {
    height: 200px;
    overflow: hidden;
    vertical-align: middle;
}
.study-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
    position: relative;
    height: 100%;
}
.life-card .card-img-holder {
    height: 200px;
    overflow: hidden;
    vertical-align: middle;
}
.life-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
    position: relative;
    height: 100%;
}
.life-card-item{
	display:inline-block;
}
.card-img{
	height:100%;
}
.card-body{
padding: 1rem 1rem;
}
.skills-card-body{
	padding: 10px 10px;
}
.link-mask{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding:1.5rem;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.link-mask:hover{
	background-color:rgba(21,29,35,0.5);
}
.link-mask{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding:1.5rem;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.link-mask:hover{
	background-color:rgba(21,29,35,0.5);
}
.link-mask-text{
	display: table;
	margin-bottom:0.5rem;
	color:#ffffff;
}
.card-title{
	font-size:1rem;
}
.skills-card-title{
	font-size:15px;
}
.card-summary{
	font-size:12px;
	max-height:110px;
	color:#666f77;
	overflow:hidden;
	height:100px;
}
.skills-card-summary{
	font-size:12px;
	max-height:110px;
	color:#666f77;
}
.btn-primary{
	background-color:#666f77;
	border-color:#666f77;
	color: #fff !important;
}
.btn-primary:hover{
	background-color:#151d23;
	border-color:#151d23;
	color:#fff;
}
.btn-danger{
	background-color:#AA4343;
	border-color:#AA4343;
	color: #fff !important;
}
.nav-pills .nav-link.active{
	color: #fff;
    background-color: #0032bb;
}
.btn-danger:hover{
	background-color:#7A1C1C;
	border-color:#7A1C1C;
	color:#fff;
}

.input-area{
	margin-bottom:2rem;
}
#skills-area{
	list-style:none;
}
.category-item{
	margin-right:20px;
	float:left;
}
#category-list{
	list-style:none;
}
.search-area{
	float:right;
}
.select-cancel:hover{
	cursor:pointer;
}
.footer-wrap{
	text-align:center;
	margin-top:200px;
}
.detail-card{
1	margin-top:100px;
	background:#fafafa;
}
.detail-contents-title{
	margin-top:50px;
	margin-bottom: 50px;
	text-align:center;
}
.project-detail-contents-title:hover{
	color:#666f77
}
.project-detail-contents-title{
	margin-bottom:50px;
}

.pagination{
	display:inline-flex;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:#666f77;
	border-color:#666f77;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #666f77;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
