@font-face {
  font-family: ubuntu-title;
  src: url("/resources/fonts/Ubuntu-Title.ttf"); }
@font-face {
  font-family: ubuntu-Bold;
  src: url("/resources/fonts/Ubuntu-Bold.ttf"); }
@font-face {
  font-family: ubuntu-regular;
  src: url("/resources/fonts/Ubuntu-Regular.ttf"); }
@font-face {
  font-family: nunito;
  src: url("/resources/fonts/Nunito-VariableFont_wght.ttf"); }
.btn-primary {
  background-color: #666f77;
  border-color: #666f77;
  color: #fff !important; }

.btn-primary:hover {
  background-color: #151d23;
  border-color: #151d23;
  color: #fff; }

.btn-danger {
  background-color: #AA4343;
  border-color: #AA4343;
  color: #fff !important; }

.btn-danger:hover {
  background-color: #7A1C1C;
  border-color: #7A1C1C;
  color: #fff; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

/*************main box*************/
.main-wrapper .main {
  padding: 3rem; }

.main-wrapper {
  min-height: 100vh;
  padding-left: 0;
  padding-right: 0;
  margin-left: 260px; }

/*************content box*************/
.content-wrapper {
  margin-bottom: 50px; }

/*************footer box*************/
.footer {
  bottom: 0;
  padding: 0 1rem;
  height: 5rem;
  font-size: 0.8rem;
  color: #7a7b7d;
  background-color: #ffffff;
  position: absolute; }

.footer-wrap {
  text-align: center;
  margin-top: 200px; }

/*************header box*************/
.header-wrapper {
  height: 100%;
  display: flex;
  justify-content: center; }

.header-content {
  transition: top 0.2s ease-in-out;
  z-index: 50;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: #F8F8F8;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column; }

.header-profile-img-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 70%;
  margin-right: 30px;
  float: left; }

.header-profile-img {
  display: block;
  width: 150px;
  height: 200px; }

.profile-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.header-motto {
  font-size: 3rem;
  font-family: ubuntu-Bold; }

.header-motto:hover {
  color: #666f77; }

.header-introduce {
  padding-left: 5rem;
  padding-top: 2rem;
  font-family: nunito;
  text-align: left; }
  .header-introduce p + p {
    margin-top: -10px; }

.header-btn-container {
  padding-top: 2rem;
  width: 100%; }

.header-btn-container .btn {
  font-size: 1rem;
  margin-right: 10px; }

/*************side menu box*************/
.menu-wrapper {
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  width: 260px;
  background-color: #3b444b;
  display: flex;
  flex-direction: column; }

.menu-a {
  font-family: ubuntu-regular;
  font-size: 25px;
  color: #ffffff;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out; }

.menu-a:hover {
  text-decoration: none;
  color: #151d23; }

.menu-profile-img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 70%;
  vertical-align: middle;
  margin: auto;
  transition: transform 0.5s ease-in-out;
  transform: translate(0, 0px); }

.menu-profile-img-container:hover {
  transform: translate(0, -30px); }

.menu-profile-label-container {
  text-align: center;
  opacity: 0;
  font-size: 1.5rem;
  font-family: ubuntu-Bold;
  transition: opacity 1s ease-in-out; }

.menu-profile-label {
  color: #ffffff;
  text-shadow: 2px 2px 2px #666f77; }

.menu-img-wrapper {
  margin-top: 80px;
  margin-bottom: 20px; }

#navigation .navbar-nav .menu-item {
  margin-top: 25px; }

#navigation .navbar-nav {
  list-style: none;
  padding-left: 0px; }

.menu-txt {
  display: inline-block; }

.img-container {
  z-index: -1;
  top: 300px;
  position: absolute; }

.img-container .menu-bottom-img {
  width: 260px;
  height: 400px;
  z-index: -1; }

.img-container .menu-bottom-img-gradient {
  width: 260px;
  height: 400px;
  position: absolute;
  background: linear-gradient(to bottom, black 10%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 75%, black 100%);
  background-size: cover;
  z-index: 1; }

/*************card-item box*************/
.card-item {
  float: none;
  margin: 0 auto;
  display: inline-block; }

.card-wrapper {
  width: 100%;
  text-align: center; }

.card-img {
  height: 100%; }

.card-body {
  padding: 1rem 1rem; }

.link-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  visibility: hidden;
  transition: all 0.4s ease-in-out; }

.link-mask:hover {
  background-color: rgba(21, 29, 35, 0.5); }

.link-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  visibility: hidden;
  transition: all 0.4s ease-in-out; }

.link-mask:hover {
  background-color: rgba(21, 29, 35, 0.5); }

.link-mask-text {
  display: table;
  margin-bottom: 0.5rem;
  color: #ffffff; }

.card-title {
  height: auto;
  font-size: 1rem; }

.card-body {
  height: 200px; }

.card-introduce {
  margin-bottom: 30px; }

.card-summary {
  font-size: 12px;
  max-height: 110px;
  color: #666f77;
  overflow: hidden;
  height: 100px; }

.post-date {
  position: absolute;
  text-align: center;
  margin-left: -1rem;
  width: 100%;
  bottom: 20px; }

.detail-card {
  margin-top: 100px;
  background: #F8F8F8;
  padding: 2rem; }

.detail-card .card-img-holder {
  overflow: hidden;
  vertical-align: middle; }

.detail-card-content {
  height: 100%; }

.detail-contents-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.detail-contents {
  word-break: break-all; }

/*************navgation box*************/
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #0032bb; }

.search-area {
  float: right; }

.category-item {
  margin-right: 20px;
  float: left; }

#category-list {
  list-style: none; }

.select-cancel:hover {
  cursor: pointer; }

/*************pagination box*************/
.pagination {
  display: inline-flex; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #666f77;
  border-color: #666f77; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #666f77;
  background-color: #fff;
  border: 1px solid #dee2e6; }

/*************???*************/
.input-area {
  margin-bottom: 2rem; }

/*home content box*/
.title-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center; }

.title-wrapper:hover {
  color: #666f77; }

.list-title-wrapper {
  margin-top: 100px;
  margin-bottom: 70px; }

.list-title-wrapper:hover {
  color: #666f77; }

.skills-area {
  margin-bottom: 70px; }

.skill-icon {
  width: 80px; }

.skills-card-img-holder {
  height: 80px;
  width: 100%;
  line-height: 80px;
  vertical-align: middle; }

.skills-card-item {
  float: none;
  display: inline-block;
  padding: 0 1rem; }

.skills-card-body {
  padding: 10px 10px; }

.skills-card-title {
  font-size: 15px; }

.skills-card-summary {
  font-size: 12px;
  max-height: 110px;
  color: #666f77; }

#skills-area {
  list-style: none; }

/*resume content box*/
.resume-profile-img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 70%;
  vertical-align: middle;
  float: left;
  right: 100px;
  margin: auto; }

.resume-profile-img {
  width: 100%;
  position: relative;
  object-fit: cover;
  display: block; }

.resume-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.025);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
  max-width: 1140px;
  padding: 3rem; }

.resume-certificate-container {
  margin-left: 30px; }

.resume-interest-container {
  margin-left: 30px; }

/*project content box*/
.project-card .card-img-holder {
  height: 100%;
  overflow: hidden;
  vertical-align: middle; }

.project-card {
  border-radius: 0;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.025);
  position: relative;
  height: 100%; }

.project-card-content {
  height: 100%; }

.project-detail-contents-title:hover {
  color: #666f77; }

.project-detail-contents-title {
  margin-bottom: 50px; }

/*study content box*/
.study-card .card-img-holder {
  height: 100%;
  overflow: hidden;
  vertical-align: middle; }

.study-card .card-img-holder-mask {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1.5rem;
  height: 100%;
  vertical-align: middle;
  background-color: rgba(21, 29, 35, 0.5); }

.study-card .card-img-holder-mask .none-show-text {
  font-color: white; }

.study-card {
  border-radius: 0;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.025);
  position: relative;
  height: 200px; }

.study-card-content {
  height: 100%; }

/*life content box*/
.life-card-item {
  height: 450px; }

.life-card .card-img-holder {
  height: 200px;
  overflow: hidden;
  vertical-align: middle; }

.life-card {
  border-radius: 0;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.025);
  position: relative;
  height: auto;
  width: 250px; }

.life-card-item {
  display: inline-block; }

/*manage content box*/
.manage-container {
  width: 100%; }

@media (min-width: 1200px) {
  .profile-img {
    max-width: 400px; } }
@media (max-width: 991.98px) {
  .menu-wrapper {
    position: static;
    width: inherit;
    height: auto; }

  .main-wrapper {
    margin-left: 0; }

  .menu-wrapper .navbar {
    padding: 1rem; }

  .link-mask {
    display: none; } }
@media (max-width: 767.98px) {
  #navigation .navbar-nav {
    padding-left: 30px; }

  .header-motto {
    font-size: 2rem; }

  .header-introduce {
    padding-left: 0rem; }

  .header-btn-container .btn + .btn {
    margin-top: 10px; }

  .header-profile-img-wrapper {
    margin-bottom: 20px;
    float: none; }

  .main-wrapper .main {
    padding: 1.5rem; }

  .skills-card-summary {
    overflow: scroll; }

  .life-card {
    overflow: scroll;
    width: 150px; }

  .card-title {
    height: 50px;
    overflow: scroll; }

  .card-summary {
    height: 70px;
    overflow: scroll; }

  .footer-wrap {
    display: flex;
    flex-direction: column; }

  .footer-item {
    text-align: center !important; }

  .footer-item + .footer-item {
    margin-top: 10px; }

  .resume-certificate-container {
    margin-left: 0px; }

  .resume-interest-container {
    margin-left: 0px; }

  .timeline:not(.timeline--horizontal) .timeline__items:before {
    left: 6% !important; } }

/*# sourceMappingURL=styles.css.map */
