<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life">
  <insert id="insert" >
    INSERT INTO LIFE (
    	title,
    	introduce,
    	category,
    	titleImg,
    	contents,
    	createDate
    ) VALUES (
    	#{title},
    	#{introduce},
    	#{category},
    	#{titleImg},
    	#{contents},
    	now()
    )
    <selectKey keyProperty="num" resultType="Integer">
    SELECT LAST_INSERT_ID()
  	</selectKey>
  </insert>
	<select id="getLifeList" resultType="lifeVO">
		SELECT * FROM LIFE
		ORDER BY num DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="getLifeListByFilter" resultType="lifeVO" parameterType="hashMap">
		SELECT * FROM LIFE
		<if test="category != 'All' or keyword != null">
		WHERE
		</if>
		<if test="category != 'All'">
		category = #{category}  
		</if>
		<if test="category == 'All' and keyword != null">
		title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%')
		</if>
		<if test="category != 'All' and keyword != null">
		AND (title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%'))
		</if>
		ORDER BY num DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="getLifeListCnt" resultType="int">
	 	SELECT count(*) as listCnt
	 	FROM LIFE
	</select>
	<select id="getLifeListCntByFilter" parameterType="hashMap" resultType="int">
	 	SELECT count(*) as listCnt
	 	FROM LIFE
	 	<if test="category != 'All' or keyword != null">
	 	WHERE
	 	</if>
	 	<if test="category != 'All'">
	 	category = #{category}
	 	</if>
	 	<if test="category == 'All' and keyword != null">
		title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%')
		</if>
		<if test="category != 'All' and keyword != null">
		AND (title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	<select id="getLifeDetail" resultType="lifeVO">
		SELECT *
		FROM LIFE
		WHERE num = #{num}
	</select>
	<update id="updateLife" parameterType="lifeVO">
		UPDATE LIFE 
	  	SET
	    	title = #{title},
	    	introduce = #{introduce},
	    	category = #{category},
	    	<if test="titleImg != null">
	    		titleImg = #{titleImg},
	    	</if>
	    	contents = #{contents}
		WHERE num = #{num}
	</update>
	<delete id="deleteLife" parameterType="Integer">
		DELETE
		FROM LIFE
		WHERE num = #{num}
	</delete>
	
</mapper>