<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스 작동 규칙 정의 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="categoryVO" type="com.ssj.myapp.vo.CategoryVO"/>
		<typeAlias alias="projectVO" type="com.ssj.myapp.vo.ProjectVO" />
		<typeAlias alias="studyVO" type="com.ssj.myapp.vo.StudyVO" />
		<typeAlias alias="lifeVO" type="com.ssj.myapp.vo.LifeVO" />
		<typeAlias alias="skillVO" type="com.ssj.myapp.vo.SkillVO" />
		<typeAlias alias="userVO" type="com.ssj.myapp.vo.UserVO" />
		<typeAlias alias="userDetailDto" type="com.ssj.myapp.vo.UserDetailsDto" />
		<typeAlias alias="workVO" type="com.ssj.myapp.vo.WorkVO" />
	</typeAliases>
</configuration>
