<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">
  <insert id="insert" >
    INSERT INTO PROJECT (
    	projectName,
    	introduce,
    	members,
    	fromDate,
    	toDate,
    	skills,
    	projectImg,
    	projectFile,
    	github,
    	contents,
    	createDate
    ) VALUES (
    	#{projectName},
    	#{introduce},
    	#{members},
    	#{fromDate},
    	#{toDate},
    	#{skills},
    	#{projectImg},
    	#{projectFile},
    	#{github},
    	#{contents},
    	now()
    )
    <selectKey keyProperty="num" resultType="Integer">
    SELECT LAST_INSERT_ID()
  	</selectKey>
  </insert>
	<select id="project_list" resultType="projectVO">
		SELECT * FROM PROJECT
		ORDER BY num DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="recent_project_list" resultType="projectVO">
		SELECT * FROM PROJECT
		ORDER BY createDate DESC
		LIMIT 4
	</select>
	<select id="getProjectListAll" resultType="projectVO">
		SELECT * FROM PROJECT
		ORDER BY num DESC
	</select>
	<select id="getProjectListCnt" resultType="int">
	 	SELECT count(*) as listCnt
	 	FROM PROJECT
	</select>
	<select id="getProjectDetail" resultType="projectVO">
		SELECT *
		FROM PROJECT
		WHERE num = #{num}
	</select>
	<update id="updateProject" parameterType="projectVO">
		UPDATE PROJECT 
	  	SET
	    	projectName = #{projectName},
	    	introduce = #{introduce},
	    	members = #{members},
	    	fromDate = #{fromDate},
	    	toDate = #{toDate},
	    	skills = #{skills},
	    	<if test="projectImg != null">
	    		projectImg = #{projectImg},
	    	</if>
	    	<if test="projectFile != null">
	    		projectFile = #{projectFile},
	    	</if>
	    	github = #{github},
	    	contents = #{contents}
		WHERE num = #{num}
	</update>
	<delete id="deleteProject" parameterType="Integer">
		DELETE
		FROM PROJECT
		WHERE num = #{num}
	</delete>
	
</mapper>