<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study">
  <insert id="insert" >
    INSERT INTO STUDY (
    	title,
    	introduce,
    	category,
    	titleImg,
    	contents,
    	createDate
    ) VALUES (
    	#{title},
    	#{introduce},
    	#{category},
    	#{titleImg},
    	#{contents},
    	now()
    )
    <selectKey keyProperty="num" resultType="Integer">
    SELECT LAST_INSERT_ID()
  	</selectKey>
  </insert>
	<select id="getStudyList" resultType="studyVO">
		SELECT * FROM STUDY
		ORDER BY num DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="getRecentStudyList" resultType="studyVO">
		SELECT * FROM STUDY
		ORDER BY createDate DESC
		LIMIT 4
	</select>
	<select id="getStudyListByFilter" resultType="studyVO" parameterType="hashMap">
		SELECT * FROM STUDY
		<if test="category != 'All' or keyword != null">
		WHERE
		</if>
		<if test="category != 'All'">
		category = #{category}  
		</if>
		<if test="category == 'All' and keyword != null">
		title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%')
		</if>
		<if test="category != 'All' and keyword != null">
		AND (title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%'))
		</if>
		ORDER BY num DESC
		LIMIT #{startList}, #{listSize}
	</select>
	<select id="getStudyListCnt" resultType="int">
	 	SELECT count(*) as listCnt
	 	FROM STUDY
	</select>
	<select id="getStudyListCntByFilter" parameterType="hashMap" resultType="int">
	 	SELECT count(*) as listCnt
	 	FROM STUDY
	 	<if test="category != 'All' or keyword != null">
	 	WHERE
	 	</if>
	 	<if test="category != 'All'">
	 	category = #{category}
	 	</if>
	 	<if test="category == 'All' and keyword != null">
		title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%')
		</if>
		<if test="category != 'All' and keyword != null">
		AND (title like CONCAT('%',#{keyword},'%')
		OR contents like CONCAT('%',#{keyword},'%')
		OR introduce like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	<select id="getStudyDetail" resultType="studyVO">
		SELECT *
		FROM STUDY
		WHERE num = #{num}
	</select>
	<update id="updateStudy" parameterType="studyVO">
		UPDATE STUDY 
	  	SET
	    	title = #{title},
	    	introduce = #{introduce},
	    	category = #{category},
	    	<if test="titleImg != null">
	    		titleImg = #{titleImg},
	    	</if>
	    	contents = #{contents}
		WHERE num = #{num}
	</update>
	<delete id="deleteStudy" parameterType="Integer">
		DELETE
		FROM STUDY
		WHERE num = #{num}
	</delete>
	
</mapper>